@model DashboardModal;

@{
    ViewData["Title"] = "Dashboard";
}

@section Style{
    <link href="~/custom-css/Dashboard.css" rel="stylesheet" />
}


@* welcome message *@
<div class="container-fluid pt-3">
    <h3>Welcome, Admin! </h3>
    <h6>
        Allocate resources strategically and achieve project milestones with precision.
    </h6>
</div>


@* cards *@
<div class="container-fluid pt-4">
    <div class="row g-4 d-flex align-items-center justify-content-evenly">
        <div class="col-sm-6 col-xl-3 px-0">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-5 box">
                <i class="fa fa-chart-line fa-3x"></i>
                <div>
                    <p class="mb-2">Total Projects</p>
                    <h4 class="mb-0">@Model.Projects.Data.Last()</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3  px-0">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-5 box">
                <i class="fa fa-chart-bar fa-3x"></i>
                <div>
                    <p class="mb-2">Total Employees</p>
                    <h4 class="mb-0">@Model.Employees.Data.Last()</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3  px-0">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-5 box">
                <i class="fa fa-chart-area fa-3x"></i>
                <div>
                    <p class="mb-2">Total Departments</p>
                    <h4 class="mb-0">@Model.Departments.Data.Last()</h4>
                </div>
            </div>
        </div>
    </div>
</div>


@* charts *@
<div class="container-fluid pt-5">
    <h6 style="text-align:center;">Explore insightful charts to visualize resource allocation and optimize project planning.</h6>
    <div class="row g-4 pt-1">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Project Resource Mapping System</h6>
                <canvas id="combineChart"></canvas>
            </div>
        </div>
        @* <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Projects</h6>
                <canvas id="projectsChart"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Employees</h6>
                <canvas id="employeesChart"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Departments</h6>
                <canvas id="departmentsChart"></canvas>
            </div>
        </div> *@
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Projects Status</h6>
                <canvas id="projectStatusChart"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Employees Status</h6>
                <canvas id="employeeStatusChart"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Department wise Projects</h6>
                <canvas id="departmentProjectChart"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Department wise Employees</h6>
                <canvas id="departmentEmployeeChart"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Actions </h6>
                <canvas id="logsChart"></canvas>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var employeesLabel = @Html.Raw(Json.Serialize(Model.Employees.Label));
        var employeesData = @Html.Raw(Json.Serialize(Model.Employees.Data));
        var projectsLabel = @Html.Raw(Json.Serialize(Model.Projects.Label));
        var projectsData = @Html.Raw(Json.Serialize(Model.Projects.Data));
        var departmentsLabel = @Html.Raw(Json.Serialize(Model.Departments.Label));
        var departmentsData = @Html.Raw(Json.Serialize(Model.Departments.Data));
        var departmentProjecLable = @Html.Raw(Json.Serialize(Model.DepartmentProject.Label));
        var departmentProjectData = @Html.Raw(Json.Serialize(Model.DepartmentProject.Data));
        var departmentEmployeeLable = @Html.Raw(Json.Serialize(Model.DepartmentEmployee.Label));
        var departmentEmployeeData = @Html.Raw(Json.Serialize(Model.DepartmentEmployee.Data));
        var dateLable = @Html.Raw(Json.Serialize(Model.Inserts.Label));
        var insertData = @Html.Raw(Json.Serialize(Model.Inserts.Data));
        var updatetData = @Html.Raw(Json.Serialize(Model.Updates.Data));
        var deleteData = @Html.Raw(Json.Serialize(Model.Deletes.Data));
        var DepartmentLable = @Html.Raw(Json.Serialize(Model.RunningProjects.Label));
        var runningProjects = @Html.Raw(Json.Serialize(Model.RunningProjects.Data));
        var pendingProjects = @Html.Raw(Json.Serialize(Model.PendingProjects.Data));
        var completedProjects = @Html.Raw(Json.Serialize(Model.CompletedProjects.Data));
        var DepartmentLable2 = @Html.Raw(Json.Serialize(Model.AllocatdeEmployees.Label));
        var allocatedEmployees = @Html.Raw(Json.Serialize(Model.AllocatdeEmployees.Data));
        var unAllocatedEmployees = @Html.Raw(Json.Serialize(Model.UnallocatedEmployees.Data));
    </script>
    <script src="~/custom-scripts/Home/Dashboard.js"></script>
}
