
@model Amnex_Project_Resource_Mapping_System.Models.EmployeesModel;
@* {
    ViewData["Title"] = "employeesModel";
}
 *@


@section style {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">


    <link rel="stylesheet" href="~/kendo/css/kendo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/kendo/css/kendo.default-v2.min.css" asp-append-version="true" />

}

<h3 class=" pt-2 ">Employees</h3>

<div id="grid1"></div>




@*  Delete modal code  *@


<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteEmployeeModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-delete-close btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this item?</p>
                <input type="text" id="confirmInput" class="form-control" placeholder="Type 'CONFIRM' to proceed">
            </div>
            @*  <div class="text-danger " id="deleteModalError" style="text-align: left;"></div> *@
            <div class="modal-footer">
                <div class="text-danger pe-5" id="deleteModalError" style="text-align: left;"></div>

                <button type="button" class="btn btn-secondary" id="deleteButton" disabled>Delete</button>
            </div>
        </div>
    </div>
</div>


@* Employee-Add-modal *@
<div class="modal fade" id="employeeActionModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actionEmployeeModalLabel">Add a New Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="addEmployeeForm">

                        <div class="row mb-3">
                            <div class="col-6">
                                <label for="employeeName">Employee Name</label>
                                <input type="text" class="form-control" id="employeeName" placeholder="Enter Employee Name">
                                <div class="text-danger error-message" id="employeeNameError"></div>
                            </div>
                            <div class="col-6">
                                <label for="employeeEmailId">Employee EmailId</label>
                                <input type="text" class="form-control" id="employeeEmailId" placeholder="Enter Employee EmailId">
                                <div class="text-danger error-message" id="employeeEmailIdError"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <label for="department">Department</label>
                                <select class="form-control" id="department" style="background-color: transparent;">
                                    <option value="">Select Department</option>
                                    @foreach (var item in Model.EmployeeDepartments)
                                    {
                                        <option value="@item.DepartmentId">@item.DepartmentName</option>
                                    }
                                </select>
                                <div class="text-danger error-message" id="departmentError"></div>

                            </div>
                            <div class="col-6">
                                <label for="employeeLoginRole">UserRole</label>
                                <select class="form-control" id="employeeLoginRole" style="background-color: transparent;">
                                    <option value="">Select Role</option>
                                    @foreach (var item in Model.EmployeeLoginRoles)
                                    {
                                        <option value="@item.LoginRoleId">@item.LoginRoleName</option>
                                    }
                                </select>
                                <div class="text-danger error-message" id="employeeLoginRoleError"></div>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <label for="designation">Designation</label>
                                <select class="form-control" id="designation" style="background-color: transparent;">
                                    <option value="">Select Designation</option>
                                    @foreach (var item in Model.EmployeeDesignations)
                                    {

                                        <option value="@item.DesignationId">@item.DesignationName</option>
                                    }
                                </select>
                                <div class="text-danger error-message" id="designationError"></div>

                            </div>
                            <div class="col-6">


                                <label for="skills">Skills</label>
                                <select id="choices-multiple-remove-button" placeholder="Select skill" multiple>

                                    @foreach (var item in Model.EmployeeSkills)
                                    {
                                        <option value="@item.Skillid">@item.Skillname</option>
                                    }
                                </select>

                                <div class="text-danger error-message" id="skillsError"></div>

                            </div>


                        </div>

                    </form>
                    <div id="errorMessages" class="text-danger"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="updateEmployeeBtn">Update Employee</button>
                <button type="submit" class="btn btn-primary" id="addEmployeeBtn">Add Employee</button>
            </div>
        </div>
    </div>
</div>










@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/kendo/js/kendo.all.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script>var employeesModel = @Html.Raw(ViewData["employeesModel"]);</script>
    <script src="~/custom-scripts/home/employee.js" asp-append-version="true"></script>



}







